.profile-box{
    top: 200px;
}

.profile-info{
    display: flex;
    justify-content: center;
    /* top: 100px; */
    
}

.circle{
    width: 250px;
    /* position: absolute; */
    /* top: 100px; */
    transform: translateX(-50%)
}

.profile-img{
    
    width:100%;
    border-radius: 50%;
    border: 4px green;
}