.profile-box{
    /* position: relative; */
    /* top: 81px; */
    /* margin: 0 auto; */

    background-color: rgb(215, 215, 243);
    background-size:cover cover;
}
.profile-info{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    top: 60px;
    background-color: rgb(42, 41, 59);
    width: 100vw;
    height:230px;
    color: white;  
}
/* .pp{
padding: 19px;
border: 1px solid white;
position: relative;
} */

.circle{
    width: 13%;
    position: relative;
    left: 19%;
    
    /* position: absolute; */
    top: 35px;
    
    /* transform: translateX(50%) */
}

.profile-img{
    
    width:100%;
    border-radius: 50%;
    border: 3px solid rgb(255, 255, 255);
}

.mybike-container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;
    position: relative;
    background-color: slategrey;
    padding: 40px;
    margin-top: 70px;


}
/* .mybike{
    border: 1px black solid;
    display: flex;
    justify-content: center; 
}*/

.login-msg{
    font-size: 50px;
    top:50%;
}

