.profile-box{
    /* position: relative; */
    /* top: 81px; */
    /* margin: 0 auto; */

    background-color: rgb(215, 215, 243);
    background-size:cover cover;
    margin-bottom: 46px;
}
.profile-info{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    /* top: 90px; */
    background-color: rgb(6, 6, 10);
    width: 100vw;
    /* height:150px; */
    color: white;  
}
/* .pp{
padding: 19px;
border: 1px solid white;
position: relative;
} */

.circle {
    width: 9%;
    /* position: relative; */
    /* left: 19%; */
    
    /* position: absolute; */
    top: 35px;
    
    /* transform: translateX(50%) */
}

.profile-img{
    
    width:100%;
    border-radius: 50%;
    border: 3px solid rgb(255, 255, 255);
}

.mybike-container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* text-align: center; */
    /* position: relative; */
    background-color: slategrey;
    padding: 40px;


}
/* .mybike{
    border: 1px black solid;
    display: flex;
    justify-content: center; 
}*/

.login-msg{
    font-size: 50px;
    top:50%;
    left: 42%;
    position: fixed;
    /* text-align: center; */
}

