.form-box {
    position: relative;
    /* top: 10px; */
    text-align: center;
    background-color: lightslategray;
    background-repeat: repeat;
    background-position: center;
    /* background-size: auto; */
    height: 100vh; 

    background-attachment: fixed;
}

.new-form{
    position: relative;
    top: 15px;
}


.area:focus{
    background-color: lightblue;
}

.area-claim {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    font-family: sans-serif;
    box-sizing: border-box;
    border: 2px solid rgb(47, 36, 202);
    border-radius: 4px;
    font-size: 15px;
    margin-bottom: 20px;
}

.label {
    font-family: 'Roboto Slab', sans-serif;
    position: relative;
    /* top: 3%; */
    left: 42%;
    width: 15%;
    /* text-align: center; */
    background-color: gainsboro;
    padding: 5px;
    border: 1px black solid;
    /* transform: translateX(17%) */

}
.button3 {
    background-color: rgb(36, 87, 230);
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 2px 2px;
    margin-bottom: 50px;
    cursor: pointer;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 16px;
    width: 30%;
}
.button3:hover{
    background-color: rgb(26, 52, 73);
    box-shadow: 3px 3px gray;
}
.button3:active{
    /* width: 29%;
    height: auto; */
    font-size: 15px;
}