.bike-item {
border: 1px solid rgb(31, 34, 43);
background-image: linear-gradient(to right, rgb(240, 233, 233,0.6),rgb(121, 116, 116, 0.7));
text-align: center;
padding: 7px;
border-radius: 12px;
margin: 14px;
flex: 0 0 25%;
}


.bike-img{
    /* text-align: center; */
    height: 180px;
    width: auto;
    border: 2px solid  black;
    border-radius: 6px;
    /* padding: 2px; */
}
.bike-text{
    border: 2px dotted black;
    margin-left: 60px;
    margin-right: 60px;
    padding:3px;
    font-weight: 300;
font-family: sans-serif;
}
.bold{
    font-weight: bold;
}

/* //////// Bike View Stylings */

.bike-container{
    /* display: flex; */
    /* justify-content: center; */
    text-align: center;
    background-image: url('./bikeview.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    /* top: 90px; */
    padding: 25px;
    /* height: 30%; */
    position: relative;
}
.date-input{
    width: 30%;
    padding: 12px 20px;
    margin: 12px 12px;
    font-family: sans-serif;
    box-sizing: border-box;
    border: 2px solid rgb(47, 36, 202);
    border-radius: 4px;
    font-size: 15px;
}
.single-bike{
    border: 1px dotted rgb(185, 182, 182);
    padding: 10px;
    background-color: rgba(34, 33, 33, 0.767);
}
.bikeview-img{
    width: 30%;
    border: 1px solid rgb(201, 194, 194);
}
.single-info{
    /* display: flex;
    flex-direction: column; */
    padding: 8px;
    line-height: 18px;
    color: rgb(214, 210, 210);
    border: 1px gray solid;
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 10px;

    
}
        .pick-dates-text{
            position: relative;
            /* z-index: 3; */
            text-transform: uppercase;
            font-weight: 200;
            color: rgb(239, 243, 239);
            margin-bottom: 20px;
                        
        }



/* ///////////////  My Bike */

.mybike{
    border: black 1px solid;
    background-color: rgba(0, 217, 255, 0.479);
    padding: 9px;
    margin: 5px;
    width: 60vw;
    height: auto;
    align-items: center;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-around; */
}
.mybike-img{
    width: 50%;
    height: 240px;
    border: 2px solid black;
    margin-right: 10px;
    
    }
    .bike-values{
    display: flex;
    justify-content: center space-evenly;
    position: relative;
    




    }
    .form{
        display: flex;
        flex-direction: column;
        /* left: 30px; */
        /* bottom: 30px; */
        padding: 6px;
        border: 1px black solid;
        position: relative;
        width: 100%;
       
    }
    
    .edit-input{
        width: 20%;
        margin: 9px;
    }
    .edit-input-area{
        width: 20%;
        margin: 9px;
        top: 50px;

    }


    .my-btns{
        
    background-color: black;
    color: rgb(236, 234, 234);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    
    border: 1px rgb(216, 214, 214) solid;
    border-radius: 15%;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 12px;
    width: 110px;
    /* left: 25%; */
    position: relative;
    }
    .my-btns:hover{
        box-shadow: 5px 5px rgb(77, 51, 51);
    }
    