@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url('https://fonts.googleapis.com/css?family=Audiowide');

.logo-header {
    
    height: 80px;
    width: 129px;
    position: relative;
}
.h {
    font-family: 'Audiowide', sans-serif;
    position: relative;
    font-size: 18px;
    color: rgb(70, 68, 68);
    text-decoration: none;
    right: -5px;
    background-color: #b6b5b1;
    box-shadow: 4px 4px 2px cornflowerblue;
    display: inline-block;
    bottom: 36px;
    padding: 2px;

}

.nav {
    position: fixed;
    width: 100vw;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient( to right,
    rgb(102, 195, 231), rgb(204, 204, 204)
    );
    padding: 5px;
    border-bottom: 2px solid rgba(0,0,0,0.2);
    z-index: 10;
}

    
.nav-links {
    width: 475px;
    /* background-color: white; */
    display: flex;
    justify-content: space-between;
    

    }
    .nav-text {
        position: relative;
        top: 10px;
        text-decoration: none ;
        text-transform: uppercase;
        font-family: 'Raleway', sans-serif;
        color: rgb(2, 11, 15);
        font-size: 17px;
        font-weight: bold;
       
        /* text-shadow: 5px 5px 5px #090B09; */
      }
      
      .nav-text:hover {
        position: relative;
        top: 8px;
        /* text-decoration: none; */
        text-transform: uppercase;
        font-family: 'Raleway', sans-serif;
        color: rgb(42, 154, 245);
        font-size: 19px;
        font-weight: bold;
        border-bottom: solid 2px rgb(10, 103, 179);
        display: inline;
        padding-bottom: 1px;

        /* text-shadow: 10px 10px 3px black, 0 0 60px #A1E88B, 0 0 5px  #8F938E ; */
      }      
      .nav-post:link, .nav-post:visited {
        background-color: #71b6ee;
        color: rgb(8, 2, 2);
        padding: 12px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border: 1px black solid;
        border-radius: 15%;
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        transition-duration: 0.4s;
    }
    
    
    .nav-post:hover, .nav-post:active {
        background-color: rgb(4, 14, 17);
        color: white; 

    }
    .cart-pic{
        top: 3px;
        height: 40px;
        width: auto;
        position: relative;
    }
    .cart-pic:hover{
        top: 3px;
        height: 42px;
        width: auto;
        position: relative;
        box-shadow: 3px, 3px, 3px, 3px, rgb(180, 77, 77);

    }
    .cart-num{
        position: relative;
        text-decoration: none;
        right: 31px;
        top: 14px;
        font-size: 13px;
        font-weight: bold;
      }

      .dropdown {
        position: relative;
        display: inline-block;
        border: 1px black;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        font-size: 16px;
        font-family: 'Raleway', sans-serif;
        top:40px;
        background-color:whitesmoke;
        min-width: 140px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        padding: 6px 3px;
        border-bottom: 2px black;
    }
    /* h2{
        border-bottom: 2px black;
        display: none;
    } */

    .dropdown:hover .dropdown-content {
        display: block;
        cursor: pointer;
    }
    .dropdown-content h2:hover {
        background-color: #b4b3b3;
        /* border: 1px black; */
    }
