@import url('https://fonts.googleapis.com/css?family=Audiowide');

.body {
    
    height: 100vh;
    top: 0;
    /* margin-top: -16px; */
   
    background-image: url('./new-background.jpg');
    /* background-attachment: scroll; */
    
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.hh{
    font-weight: bold;
    font-size: 45px;
    /* height: 100px; */
    font-family: 'Audiowide', serif;
    color: rgb(239, 240, 243);
    text-shadow: 2px 2px  black;
    top: 8%;
    position: relative;
}



.bike-logo {
    position: relative;
    height: 200px;
    width: auto;
    margin-top: 170px;
    /* animation-name: bike; */
    
    animation: bike 4s ease-in-out infinite; 
}
@keyframes bike {
    /* from{left: 0px;}
    to{left: 100px;} */
    0%{left: 0px; }
    25%{left: 60px; }
    50%{left: 0px; }
    75%{left: -60px; }
    100%{left: 0px;}
}

    .button1 {
        background-color:transparent;
        color: rgba(24, 21, 21, 0.877);
        padding: 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border: 1px;
        /* border-radius: 20%; */
        font-family: sans-serif;
        transition-duration: 0.4s;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 18px;
        border: 2px solid rgb(49, 48, 48);;
        cursor: pointer;
        letter-spacing: 2px;
        
        
    
    }
    .button1:hover {
        
        color: rgb(250, 245, 245);
        background-color: rgb(49, 49, 49);
        font-family: sans-serif;
        border: 2x solid rgb(218, 214, 214);
    }
    
.greet{
    text-transform: uppercase;
    font-family: sans-serif;
    background-color: rgb(248, 255, 255, 0.65);
    padding:5px;
    
    width: 34%;
    transform: translate(98%);
    border-radius: 8px 
    /* text-align: center; */
}